{% set noSidebar = true %}

{% extends 'user-layout.html' %}

{% block body %}
<div class="card card-openstad" style="max-width: 700px; margin: 0 auto;">
  <form method="POST" id="create-site-form" action="/admin/site/copy">
    <div class="onboarding-slider-w">
      <div class="onboarding-slide">
        <div class="onboarding-side-by-side">
          <div class="onboarding-media">
            <img alt="" src="/img/bigicon5.png" width="200px">
          </div>
          <div class="onboarding-content with-gradient">
            <h2 class="onboarding-title">
               Kopieer een site
            </h2>
            <div class="onboarding-text">
              <!--
              Wijs de DNS records van de opgegeven domeinnamen
              naar IP adres {{productionServerIp}}.<br />

              <a href="#">
                Lees hier meer over DNS records
              </a>
              !-->
            </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="">Naam van de website</label>
                    <input
                      class="form-control"
                      placeholder="Bijv. Javabrug"
                      type="text"
                      value=""
                      name="siteName"
                      maxlength="62"
                      minlength="2"
                      required
                    />
                  </div>
                </div>
                <div class="col-sm-12">
                  {% include 'site/partials/form-field-domain.html' %}
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="onboarding-slide">
        <div class="onboarding-side-by-side">
          <div class="onboarding-media">
            <img alt="" src="/img/bigicon6.png" width="200px">
          </div>
          <div class="onboarding-content with-gradient">
            <h4 class="onboarding-title">
              Kies site om te kopieren
            </h4>
            <div class="onboarding-text">
              Kies de standaard website of een andere bestaande site om te kopieren,
              dit wordt het uitgangspunt van de nieuwe website.
            </div>
            <select name="siteIdToCopy" class="form-control">
            <!--<option value="">Standaard</option>!-->
              {% for site in sites %}
              <option value="{{site.id}}">{{site.title}}</option>
              {% endfor %}
            </select>

            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">
                These elements will always be exported
              </label>
              <div class="col-sm-8">

                <div class="row">
                  <div class="col-sm-8">
                    <input id="checkbox-auth-mongodb" type="checkbox" name="mongodb" value="true" checked disabled="true" />
                    <label for="checkbox-auth-mongodb">
                      Mongo database
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-8">
                    <input id="checkbox-auth-site" type="checkbox" name="site" value="true" checked disabled="true" />
                    <label for="checkbox-auth-site">
                      Site object
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-8">
                    <input id="checkbox-auth-oauth" type="checkbox" name="oauth" value="true" checked disabled="true" />
                    <label for="checkbox-auth-oauth">
                      Oauth
                    </label>
                  </div>
                </div>

              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">
                <em> Be aware, ideas and choices guides are not copied.</em>
              </label>

            </div>


            {#<h4 class="onboarding-title">
              Type website
            </h4>
            <div class="onboarding-text">
              Aan de hand van gekozen type wordt
              de website gegenereerd.
              Zowel de content als instellingen kunnen later aangepast worden.
            </div>
            <div class="row">
              <div class="col-sm-4">
                <input type="checkbox" name="type" value="blanco" id="check-type-blanco" />
                <label class="mr-2 mb-2 btn btn-outline-primary" for="check-type-blanco" style="font-size: 15px; width: 100%;">
                  <i class="os-icon os-icon-ui-55" style="font-size: 28px;"></i>
                  <br />
                  <br />
                  Standaard
                </label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" disabled name="type" value="landing" id="check-type-landing" />
                <label class="mr-2 mb-2 btn btn-outline-primary" for="check-type-landing" style="opacity: 0.3; font-size: 15px;width: 100%;">
                  <i class="os-icon os-icon-ui-55" style="font-size: 28px;"></i>
                  <br />
                  Landings- <br />pagina
                </label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" disabled name="type" value="idea-collection" id="check-type-idea-collection" />
                <label class="mr-2 mb-2 btn btn-outline-primary" for="check-type-idea-collection" style="opacity: 0.3; font-size: 15px;width: 100%;">
                  <i class="os-icon os-icon-ui-55" style="font-size: 28px;"></i>
                  <br />
                  Ideeën- <br />verzamelen
                </label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" disabled name="type" value="idea-vote" id="check-type-idea-vote" />
                <label class="mr-2 mb-2 btn btn-outline-primary" for="check-type-idea-vote" style="opacity: 0.3; font-size: 15px;width: 100%;">
                  <i class="os-icon os-icon-ui-55" style="font-size: 28px;"></i>
                  <br />
                  Ideeën- <br />stemmen
                </label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox" disabled name="type" value="info" id="check-type-info" />
                <label class="mr-2 mb-2 btn btn-outline-primary" for="check-type-info" style="opacity: 0.3; font-size: 15px;width: 100%;">
                  <i class="os-icon os-icon-ui-55" style="font-size: 28px;"></i>
                  <br />
                  Informatieve- <br />site
                </label>
              </div>
              <div class="col-sm-4">
                <input type="checkbox"  disabled name="type" value="participatory-budget" id="check-type-participatory-budget" />
                <label class="mr-2 mb-2 btn btn-outline-primary" for="check-type-participatory-budget" style="opacity: 0.3; font-size: 15px;width: 100%;">
                  <i class="os-icon os-icon-ui-55" style="font-size: 28px;"></i>
                  <br />
                  Budget- <br />begroten
                </label>
              </div>
            </div>
            #}
          </div>
        </div>
      </div>
      <div class="onboarding-slide">
        <div class="onboarding-side-by-side">
          <div class="onboarding-media">
            <img alt="" src="/img/bigicon2.png" width="200px">
          </div>
          <div class="onboarding-content with-gradient">
            <h4 class="onboarding-title">
              E-mail instellingen
            </h4>
            <div class="onboarding-text">
              Stel in welke email de afzender van de standaardemails moet krijgen.
              Dit zijn e-mails die automatisch door de site verzonden worden zoals:
              wachtwoord vergeten, reacties op reacties, status wijzigingen etc.
              Zorg dat DNS instellingen goed staan zodat email niet in spam terecht komt.
            </div>
            <div>
              <div class="form-group">
                <label for="">E-mail</label>
                <input
                  class="form-control"
                  placeholder="Bijv. javabrug@amsterdam.nl"
                  type="text"
                  value=""
                  name="fromEmail"
                />
              </div>
              <div ">
                <div class="form-group">
                  <label for="">Naam verzender email</label>
                  <input
                    class="form-control"
                    placeholder="Bijv. Gemeente Amsterdam"
                    type="text"
                    value=""
                    name="fromName"
                  />
                </div>
              </div>
            </div>

            <div >
              <div class="form-group">
                <button type="submit" class="mr-2 mb-2 btn btn-outline-primary " >
                  Site aanmaken
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
</div>
{% endblock %}
