{% extends 'user-layout.html' %}
{% set fullWidthLayout = true %}
{% import 'partials/openstad-map.html' as openStadMap %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="element-wrapper">
      <h6 class="element-header">
        <div class="element-box">
          <form method="POST" action="/admin/site/{{site.id}}/export">

            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">
                These elements will always be exported
              </label>
              <div class="col-sm-8">

                <div class="row">
                  <div class="col-sm-8">
                    <input id="checkbox-auth-mongodb" type="checkbox" name="mongodb" value="true" checked disabled="true" />
                    <label for="checkbox-auth-mongodb">
                      Mongo database
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-8">
                    <input id="checkbox-auth-site" type="checkbox" name="site" value="true" checked disabled="true" />
                    <label for="checkbox-auth-site">
                      Site object
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-8">
                    <input id="checkbox-auth-oauth" type="checkbox" name="oauth" value="true" checked disabled="true" />
                    <label for="checkbox-auth-cms-images">
                      Oauth
                    </label>
                  </div>
                </div>

              </div>
            </div>


            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">
                Select extra elements to be exported
              </label>
              <div class="col-sm-8">

                <div class="row">
                  <div class="col-sm-8">
                    <input id="checkbox-auth-cms-attachments" type="checkbox" name="cms-attachments" value="true"/>
                    <label for="checkbox-auth-cms-attachments">
                      CMS attachments
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <input id="checkbox-info-attachments" type="checkbox" name="cms-attachments" value="true"/>
                    <label for="checkbox-info-attachments">
                      <em> Be aware, ideas and choices guides are not exported.</em>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-buttons-w">
              <button class="btn btn-primary" type="submit">Export</button>
            </div>

          <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
        </div>
    </div>
  </div>
</div>
{% endblock %}
