{% extends 'user-layout.html' %}
{% set fullWidthLayout = true %}
{% import 'partials/openstad-map.html' as openStadMap %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="element-wrapper">
      <h6 class="element-header">
        {% if idea %}
          Bewerk plan
        {% else %}
          Maak nieuw plan
        {% endif %}
      </h6>
      <div class="element-box">
        {% include 'site/idea/form.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
