{% extends 'user-layout.html' %}

{% block quickLinks %}
<a class="btn btn-white btn-sm" href="/admin/site/{{site.id}}/idea">
  <i class="os-icon os-icon-window-content"></i>
  <span>Maak een idee aan</span>
</a>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="element-wrapper">
      <h6 class="element-header">
        Ideas
      </h6>
      <div class="element-box">
        <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
         <thead>
            <tr>
               <th>Title</th>
               <th>Description</th>
               <th>Gemaakt op</th>
               <th> </th>
            </tr>
         </thead>
         <tbody>
            {% for idea in ideas %}
            <tr>
               <td>{{ idea.title }}</td>
               <td>{{ idea.summary | truncate(20)}}</td>
               <td>{{ idea.createdAt | date }}</td>
               <td> <a href="/admin/site/{{site.id}}/idea/{{idea.id}}" > Bewerken </a> </td>
            </tr>
            {% endfor %}
         </tbody>
       </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
