{% set noSidebar = true %}

{% extends 'user-layout.html' %}

{% block body %}
<div class="card card-openstad" style="max-width: 700px; margin: 0 auto;">
<form method="POST" id="create-site-form" action="/admin/site/import?_csrf={{csrfToken}}" enctype="multipart/form-data">
  <div class="onboarding-slider-w">
    <div class="onboarding-slide">
      <div class="onboarding-side-by-side">
        <div class="onboarding-media">
          <img alt="" src="/img/bigicon5.png" width="200px">
        </div>
        <div class="onboarding-content with-gradient">
          <h4 class="onboarding-title">
            Importeer een site
          </h4>
          <div class="onboarding-text">

          </div>


          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="">Naam van de website</label>
                <input
                  class="form-control"
                  placeholder="Bijv. Javabrug"
                  type="text"
                  value=""
                  name="siteName"
                  maxlength="62"
                  minlength="2"
                  required
                />
              </div>

              <div class="form-group">
                <label for="">Selecteer bestand</label>
                <input type="file" name="import_file" class="form-control" required />
              </div>
            </div>
            <div class="col-sm-12">
              {% include 'site/partials/form-field-domain.html' %}
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="mr-2 mb-2 btn btn-outline-primary ">
              Import
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
{% endblock %}
