{% set noSidebar = true %}

{% extends 'user-layout.html' %}

{% block body %}
<div class="card card-openstad" style="max-width: 700px; margin: 0 auto;">
<form method="POST" id="create-site-form" action="/admin/site/import?_csrf={{csrfToken}}" enctype="multipart/form-data">
  <div class="onboarding-slider-w">
    <div class="onboarding-slide">
      <div class="onboarding-side-by-side">
        <div class="onboarding-media">
          <img alt="" src="/img/bigicon5.png" width="200px">
        </div>
        <div class="onboarding-content with-gradient">
          <h4 class="onboarding-title">
            Importeer een site
          </h4>
          <div class="onboarding-text">

          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="">Selecteer file</label>
                <input type="file" name="import_file" class="form-control" required />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="domain">Domeinnaam: </label>
                <div class="form-check">
                  <input type="radio" class="form-check-input domain-type" id="subdomain-type" name="domain-type" required value="subdomain" checked />
                  <label for="subdomain-type" class="form-check-label" >Sub domain</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input domain-type" id="domain-type" name="domain-type" required value="domain"/>
                  <label for="domain-type" class="form-check-label">Full domain</label>
                </div>

                <div class="form-row">

                  <div class="col col-domain">
                    <input
                            class="form-control"
                            id="domain"
                            placeholder="Bijv. javabrug.amsterdam.nl"
                            type="text"
                            value=""
                            name="domain"
                            required
                    />
                  </div>
                  <div class="col-auto wildcardHost">
                    <input
                            class="form-control"
                            id="wildcardHost"
                            type="text"
                            value=".{{wildcardHost}}"
                            name="wildcardHost"
                            required
                            readonly
                    />

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="mr-2 mb-2 btn btn-outline-primary ">
              Import
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
{% endblock %}
