{% extends 'user-layout.html' %}
{% set fullWidthLayout = true %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="card-container">
      <h6 class="section-header">
        {{ __('Overview') }}  {{site.title}}
      </h6>
      <small> <em> Statistics get refreshed every 10 minutes </em></small>
      {% if voteStatsActive %}
      <div class="row pt-4">
        <div class="col-sm-12">
          <!--START - Grid of tablo statistics-->
          <div class="card-container">
            <div class="element-content">
              <div class="tablo-with-chart">
                <div class="row">
                  <div class="col-sm-12 col-xxl-4">
                    <div class="tablos">
                      <div class="row mb-xl-2 mb-xxl-3">
                        <div class="col-sm-6">
                          <span class="card stats-card card-openstad el-tablo centered trend-in-corner padded bold-label" href="apps_support_index.html">
                            <div class="value">
                              {{ideas.length}}
                            </div>
                            <div class="label">
                              {{ __('Ideas') }}
                            </div>
                            {#<div class="trending trending-up-basic">
                              <span>12%</span><i class="os-icon os-icon-arrow-up2"></i>
                            </div>#}
                          </span>
                        </div>
                        <div class="col-sm-6">
                          <span class="card stats-card card-openstad el-tablo centered trend-in-corner padded bold-label" href="apps_support_index.html">
                            <div class="value">
                              {{totalVoteCount}}
                            </div>
                            <div class="label">
                              {{ __('Total Votes') }}
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <span class="card stats-card card-openstad el-tablo centered trend-in-corner padded bold-label" href="apps_support_index.html">
                            <div class="value">
                              {{totalVotesByUser}}
                            </div>
                            <div class="label">
                              {{ __('Total users voted') }}
                            </div>
                          </span>
                        </div>
                        {#<div class="col-sm-6">
                          <span class="card card-openstad el-tablo centered trend-in-corner padded bold-label" href="apps_support_index.html">
                            <div class="value">

                            </div>
                            <div class="label">
                              {{ __('Total arguments') }}
                            </div>
                          </span>
                        </div>
                        #}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <!--START - Chart Box-->
                    <div class="card card-openstad pl-xxl-5 pr-xxl-5">
                      <div class="el-tablo bigger highlight bold-label">
                        <div class="label">
                          Users voted per day
                        </div>
                      </div>
                      <script src="/js/vendor/Chart.min.js"></script>

                      <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
          {% for day in votesPerDayDays %}
          '{{day}}',
          {% endfor %}
        ],
        datasets: [{
            label: 'Votes: ',
            data: [{{votesPerDayCount}}],
            backgroundColor: null,
            borderColor: 'rgba(10, 118, 255, 1)',
            borderWidth: 2,
            pointBackgroundColor:'rgba(10, 118, 255, 1)',
            cubicInterpolationMode: 'monotone',
            fill: false
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },


    }
});
</script>
                    </div>
                    <!--END - Chart Box-->
                  </div>
                  <div class="col-sm-12">
                    <!--START - Chart Box-->
                    <div class="card card-openstad pl-xxl-5 pr-xxl-5">
                      <div class="el-tablo bigger highlight bold-label">
                        <div class="label">
                          Users voted per day
                        </div>
                      </div>
                      <table class="table">
                        <tr>
                          <th> Date </th>
                          <th> Amount of votes </th>
                        </tr>
                        {% for voteDay in votesPerDay  %}
                        <tr>
                          <td> {{voteDay.date}} </td>
                          <td> {{voteDay.votes.length}} </td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                    <!--END - Chart Box-->
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
      </div>
      {% else %}
      <span class="card card-openstad el-tablo centered trend-in-corner padded bold-label" href="apps_support_index.html">
      <b> Voting statistics are turned off</b>
      </span>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
