{% set noSidebar = true %}

{% extends 'user-layout.html' %}

{% block body %}
<div class="card card-openstad" style="max-width: 700px; margin: 0 auto;">
  <form method="POST" id="create-site-form" action="/admin/site/import">
    <div class="onboarding-slider-w">
      <div class="onboarding-slide">
        <div class="onboarding-side-by-side">
          <div class="onboarding-media">
            <img alt="" src="/img/bigicon5.png" width="200px">
          </div>
          <div class="onboarding-content with-gradient">
            <h2 class="onboarding-title">
              Maak een nieuwe site aan
            </h2>
            <div class="onboarding-text">
              <!--
                   Wijs de DNS records van de opgegeven domeinnamen
                   naar IP adres {{productionServerIp}}.<br />

                   <a href="#">
                   Lees hier meer over DNS records
                   </a>
                   !-->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="">Naam van de website</label>
                  <input
                  class="form-control"
                  placeholder="Bijv. Javabrug"
                  type="text"
                  value=""
                  name="siteName"
                  maxlength="62"
                  minlength="2"
                  required
                  />
                </div>
              </div>
              <div class="col-sm-12">
                {% include 'site/partials/form-field-domain.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="onboarding-slide">
        <div class="onboarding-side-by-side">
          <div class="onboarding-media">
            <img alt="" src="/img/bigicon6.png" width="200px">
          </div>
          <div class="onboarding-content with-gradient">
            <h4 class="onboarding-title">
              Type website
            </h4>
            <div class="onboarding-text">
              Install one of the following sites as a starting point.
            </div>
            <div class="row">
              {% for externalSite in externalSites %}
              <div class="card-selector-col">
                <div class="card-selector">
                  <input
                  type="radio"
                  name="fileUrl"
                  value="{{externalSite.latest.file}}"
                  id="external-site-{{externalSite.latest.file}}"
                  required
                  />
                  <label class="" for="external-site-{{externalSite.latest.file}}" style="font-size: 15px; width: 100%;">
                    <img src="{{externalSite.images[0]}}" />
                    <h3>
                      {{externalSite.name}}
                    </h3>
                    <div class="meta">
                      <em>
                        Version: {{externalSite.latest.number}}<br/>
                        Maintained by: {{externalSite.maintainer}}<br/>
                      </em>
                    </div><br/>
                    <p>
                      {{externalSite.description}}
                    </p>
                  </label>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="onboarding-slide">
        <div class="onboarding-side-by-side">
          <div class="onboarding-media">
            <img alt="" src="/img/bigicon2.png" width="200px">
          </div>
          <div class="onboarding-content with-gradient">
            <h4 class="onboarding-title">
              E-mail instellingen
            </h4>
            <div class="onboarding-text">
              Stel in welke email de afzender van de standaardemails moet krijgen.
              Dit zijn e-mails die automatisch door de site verzonden worden zoals:
              wachtwoord vergeten, reacties op reacties, status wijzigingen etc.
              Zorg dat DNS instellingen goed staan zodat email niet in spam terecht komt.
            </div>
            <div>
              <div class="form-group">
                <label for="">E-mail</label>
                <input
                class="form-control"
                placeholder="Bijv. javabrug@amsterdam.nl"
                type="email"
                value=""
                name="fromEmail"
                required
                />
              </div>
              <div ">
                <div class="form-group">
                  <label for="">Naam verzender email</label>
                  <input
                  class="form-control"
                  placeholder="Bijv. Gemeente Amsterdam"
                  type="text"
                  value=""
                  name="fromName"
                  required
                  />
                </div>
              </div>
            </div>

            <div >
              <div class="form-group">
                <button type="submit" class="mr-2 mb-2 btn btn-outline-primary " >
                  Site aanmaken
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </form>
</div>
{% endblock %}
