{% set fullWidthLayout = true %}

{% extends 'user-layout.html' %}
{% from 'partials/fields.html' import renderFields %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="card-container">
      <h6 class="section-header">
        {{ __('Security & authentication') }}
      </h6>
      <div class="card card-openstad">

        <form method="POST" action="/admin/site/{{site.id}}/user-api/name">
          <fieldset>
            <legend><span>Authentication</span></legend>

            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">
                {{ __('Name') }}
              </label>
              <div class="col-sm-8">
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  value="{{userApiClient.name}}"
                />
              </div>
            </div>
            <div class="form-buttons-w">
              <button class="btn btn-outline-primary" type="submit">
                {{__('Save') }}
              </button>
            </div>
          </fieldset>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

        </div>
        <div class="card card-openstad">


        <form method="POST" action="/admin/site/{{site.id}}/user-api/settings">
          <fieldset>
            <legend><span>Settings</span></legend>

            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">
                {{ __('Available authentication') }}
              </label>
              <div class="col-sm-8">
                <div class="row">
                {% for authType in authTypes %}
                  {% if authType.isAuthMethod %}
                  <div class="col-sm-6">
                    <input
                      id="checkbox-auth-{{authType.key}}"
                      type="radio"
                      name="authTypes[]"
                      value="{{authType.key}}"
                      {% if authType.key in userApiClient.authTypes %}
                      checked
                      {% endif %}
                    />
                    <label for="checkbox-auth-{{authType.key}}">
                      {{authType.label}}
                    </label>
                  </div>
                  {% endif %}
                {% endfor %}
                </div>
              </div>
            </div>
        <div class="form-group row">
           <label class="col-form-label col-sm-4">
              {{ __('Select roles that should be authenticated with two factor') }}
            </label>
            <div class="col-sm-8">
              <div class="row">
                {% for role in roles %}
                <div class="col-sm-6">
                  <input
                      id="checkbox-auth-{{role.id}}"
                      type="checkbox"
                      name="twoFactorRoles[]"
                      value="{{role.name}}"
                      {% if (userApiClient.twoFactorRoles) and (role.name in userApiClient.twoFactorRoles) %}
                      checked
                      {% endif %}
                  />
                  <label for="checkbox-auth-{{role.id}}">
                    {{role.name}}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">{{ __('Required fields') }}</label>
              <div class="col-sm-8">
                <div class="row">
                {% for userField in authUserFields %}
                  <div class="col-sm-6">
                    <input
                      id="checkbox-auth-{{userField.key}}"
                      type="checkbox"
                      name="requiredUserFields[]"
                      value="{{userField.key}}"
                      {% if userField.key in userApiClient.requiredUserFields %}
                      checked
                      {% endif %}
                    />
                    <label for="checkbox-auth-{{userField.key}}">
                      {{userField.label}}
                    </label>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>

            <div class="form-buttons-w">
              <button class="btn btn-outline-primary" type="submit">
                {{__('Save') }}
              </button>
            </div>
          </fieldset>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
      </div>
      <div
        id="config-general-settings"
        class="card card-openstad auth-type-form "
      >
        <form method="POST" action="/admin/site/{{site.id}}/user-api">
          <fieldset>
            <legend><span>{{ __('General settings') }}</span></legend>
          {{ renderFields(userApiSettingFields, userApiClient.config, 'config') }}

          <div class="form-buttons-w">
            <button class="btn btn-outline-primary" type="submit">{{ __('Save') }}</button>
          </div>
          </fieldset>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
      </div>

      <div
        id="config-"
        class="card card-openstad auth-type-form "
      >
        <form method="POST" action="/admin/site/{{site.id}}/user-api">
          <fieldset>
            <legend><span>{{ __('Required field text') }}</span></legend>
          {{ renderFields(userApiRequiredFields, userApiClient.config.requiredFields, 'config[requiredFields]') }}

          <div class="form-buttons-w">
            <button class="btn btn-outline-primary" type="submit">{{ __('Save') }}</button>
          </div>
          </fieldset>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
      </div>

      {% for authType in authTypes %}
      <div
        id="config-{{authType.key}}"
        class="card card-openstad auth-type-form "
      >
        <form method="POST" action="/admin/site/{{site.id}}/user-api">
          <fieldset>
            <legend><span> Configure {{authType.label}} </span></legend>

            {% for field in authType.fields %}

            <div class="form-group row">
              <div class=" col-sm-4">
              <label class="col-form-label" for="">{{field.label}}</label>
              <div class="info"> {{field.info | safe}} </div>
              </div>
              <div class="col-sm-8">
                {% if field.type === 'text' %}
                <input
                  class="form-control"
                  type="{{field.type}}"
                  name="config[authTypes][{{authType.key}}][{{field.key}}]"
                  value="{{userApiClient.config.authTypes[authType.key][field.key]}}"
                />
                {% elseif field.type === 'textarea' %}
                <textarea
                  name="config[authTypes][{{authType.key}}][{{field.key}}]"
                  rows="8"
                  cols="80"
                  class="form-control">{{userApiClient.config.authTypes[authType.key][field.key]}}</textarea>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </fieldset>
          <div class="form-buttons-w">
            <button class="btn btn-outline-primary" type="submit">{{ __('Save') }}</button>
          </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
      </div>
      {% endfor %}
      {% include 'site/settings/modal-login-email.html' %}
    </div>
  </div>
</div>
{% endblock %}
