{% extends 'user-layout.html' %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="element-wrapper">
      <h6 class="element-header">
        Configureer
      </h6>

      <div class="element-box">
        <form method="POST" action="/admin/site/{{site.id}}">
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="">Title</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="" type="text" name="name" value="{{site.title}}">
            </div>
          </div>
      </div>

      <div class="element-box">
        <form method="POST" action="/admin/site/{{site.id}}/url">
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="">URL</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="" type="text" name="productionUrl" value="{{site.domain}}">
            </div>
          </div>
      </div>

      <div class="element-box">
        <form method="POST" action="/admin/site/{{site.id}}">
          <fieldset>
            <legend><span>E-mail settings for ideas & cms </span></legend>
            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">From e-mail</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="info@..." type="email" name="fromEmail" value="{{site.fromEmail}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">From name</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="" type="text" name="fromName" value="{{site.fromName}}">
              </div>
            </div>
          </fieldset>
          <div class="form-buttons-w">
            <button class="btn btn-primary" type="submit">Opslaan</button>
          </div>
        </form>

        <form method="POST" action="/admin/site/{{site.id}}/user-api">
          <fieldset>
            <legend><span>E-mail settings for auth </span></legend>
            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">From e-mail</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="info@..." type="email" name="fromEmail" value="{{site.fromEmail}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">From name</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="" type="text" name="fromName" value="{{site.fromName}}">
              </div>
            </div>
          </fieldset>
          <div class="form-buttons-w">
            <button class="btn btn-primary" type="submit">Opslaan</button>
          </div>
        </form>

        </div>

      <div class="element-box">
        <form method="POST" action="/site/{{site.id}}/delete">
            <button class="btn btn-danger" type="submit">Verwijder</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
