{% extends 'user-layout.html' %}

{% block quickLinks %}
<a class="btn btn-white btn-sm" href="/admin/site/{{site.id}}/unique-code">
  <i class="os-icon os-icon-window-content"></i>
  <span>Create unique codes</span>
</a>
<a class="btn btn-white btn-sm" href="/admin/site/{{site.id}}/unique-codes/export" target="_blank">
  <i class="os-icon os-icon-window-content"></i>
  <span>Export unique codes</span>
</a>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="element-wrapper">
      <h6 class="element-header">
        Unique codes for voting
      </h6>
      <div class="element-box">
        <table id="dataTable-ajax" width="100%" class="table table-striped table-lightfont" data-src="{{apiUrl}}"  data-custom-columns="uniqueCodeColumns">
         <thead>
            <tr>
               <th>{{ __('ID') }}</th>
               <th>{{ __('Code') }}</th>
               <th>{{ __('Used') }}</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
          {#  {% for uniqueCode in uniqueCodes %}
            <tr>
              <td>{{ uniqueCode.id }}</td>
               <td>{{ uniqueCode.code }}</td>
               <td>{% if uniqueCode.userId %} {{ __('yes') }} {% else %} {{ __('no') }} {% endif %}</td>
               <td>
                 <a href="/admin/site/{{site.id}}/unique-code/delete/{{uniqueCode.id}}" class="btn btn btn-outline-danger"> {{ __('delete') }} </a>
               </td>
            </tr>
            {% endfor %}
            #}
         </tbody>
       </table>



      </div>
    </div>
  </div>
</div>
{% endblock %}
