{% extends 'user-layout.html' %}

{% block quickLinks %}
{#
<a class="btn btn-outline-primary btn-sm" href="/admin/site/{{site.id}}/unique-code">
  <i class="os-icon os-icon-window-content"></i>
  <span>Create unique codes</span>
</a>
<a class="btn btn-outline-primary btn-sm" href="/admin/site/{{site.id}}/unique-codes/export" target="_blank">
  <i class="os-icon os-icon-window-content"></i>
  <span>Export unique codes</span>
</a>
#}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="card-container">
      <h6 class="section-header">
        Votes ({{votes.length}})
      </h6>
      <div class="card card-openstad">
        <div class="table-responsive">
          <table id="dataTable1" class="table table-striped table-lightfont">
           <thead>
              <tr>
                 <th>{{ __('Vote ID') }}</th>
                 <th>{{ __('Vote date') }}</th>
                 <th>{{ __('Vote idea ID') }}</a></th>
                 <th>{{ __('Vote user ID') }}</th>
                <th></th>
              </tr>
           </thead>
           <tbody>
              {% for vote in votes %}
              <tr class="{{'rejected' if vote.checked === false}}">
                 <td>{{ vote.id }}</td>
                 <td>{{ vote.createdAt | date}}</td>
                 <td><a href="/admin/site/{{site.id}}/idea/{{ vote.ideaId }}" target="_blank">{{ vote.ideaId }}</a></td>
                 <td><a href="/admin/user/{{vote.userId}}" target="_blank">{{ vote.userId }}</a></td>
                 <td>
                   <a href="/admin/site/{{site.id}}/vote/{{vote.id}}/toggle">
                   {% if vote.checked === false %}
                      Approve
                   {% else %}
                      Reject
                   {% endif %}
                   </a>
                 </td>
              </tr>
              {% endfor %}
           </tbody>
           <tfoot>
              <tr>
                <th>{{ __('Vote ID') }}</th>
                <th>{{ __('Vote date') }}</th>
                <th>{{ __('Vote idea ID') }}</a></th>
                <th>{{ __('Vote user ID') }}</th>
                <th></th>
              </tr>
           </tfoot>
         </table>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
