{% macro renderField(field, data, prefixName) %}

  {% if prefixName %}
  {% set fieldName = prefixName + '['+field.key+']' %}
  {% set fieldValue = data[field.key] %}
  {% else %}
  {% set fieldName = field.key %}
  {% set fieldValue = data[field.key] %}
  {% endif %}

  {% if not fieldValue and not fieldValue === false %}
  {% set fieldValue = field.default %}
  {% endif %}

  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">{{field.label}}</label>
    <div class="col-sm-8">
      {% include 'partials/fields/'+field.type+ '.html'  %}
    </div>
  </div>

{% endmacro %}

{% macro renderFields( fields, data, prefixName, excludeFields ) %}
  {% for field in fields %}
    {{renderField(field, data, prefixName)}}
  {% endfor %}
{% endmacro %}
