<script src="/js/vendor/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/vendor/popper.min.js"></script>
<script src="/js/vendor/moment.js"></script>
<script src="/js/vendor/select2.full.min.js"></script>
<script src="/js/vendor/ckeditor.js"></script>
<script src="/js/vendor/jquery.validate.min.js"></script>
<script src="/js/vendor/jquery.dataTables.min.js"></script>
<script src="/js/vendor/dataTables.bootstrap.min.js"></script>
<script src="/js/vendor/tether.min.js"></script>
<script src="/js/vendor/slick.min.js"></script>
<script src="/js/vendor/util.js"></script>
<script src="/js/vendor/dropdown.js"></script>
<script src="/js/vendor/modal.js"></script>
<!--<script src="/js/vendor/popover.js"></script>!-->
<script src="/js/vendor/dataTables.bootstrap4.min.js"></script>
<script src="/js/vendor/filepond-plugin-file-validate-type.min.js"></script>
<script src="/js/vendor/filepond-plugin-image-exif-orientation.min.js"></script>
<script src="/js/vendor/filepond-plugin-image-preview.min.js"></script>
<script src="/js/vendor/filepond-plugin-file-poster.min.js"></script>
<script src="/js/vendor/filepond-plugin-image-validate-size.min.js"></script>
<script src="/js/vendor/filepond.min.js"></script>

<script src="/js/main.js"></script>
