<ul class="main-menu">
  <li class="sub-header">
    <span>SITE</span>
  </li>
  <li class="">
    <a href="/" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Dashboard </span>
    </a>
  </li>
  <li class="">
    <a href="/" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Bewerken website ↗</span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Inzendingen </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Argumenten </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Vormgeving </span>
    </a>
  </li>
  <li class="">
    <a href="#">
      <div class="icon-w">
        <div class="os-icon os-icon-users"></div>
      </div>
      <span>Security & authenticatie</span>
    </a>
  </li>
  <li class="">
    <a href="#">
      <div class="icon-w">
        <div class="os-icon os-icon-users"></div>
      </div>
      <span>Gebruikers</span>
    </a>
  </li>

  <li class="">
    <a href="#">
      <div class="icon-w">
        <div class="os-icon os-icon-ui-46"></div>
      </div>
      <span>Configureer</span>
    </a>
  </li>




</ul>
