<ul class="main-menu">
  <li class="sub-header">
    <span>SITE</span>
  </li>
  <li class="">
    <a href="/" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Site beheren ↗</span>
    </a>
  </li>
  <li class="">
    <a href="/" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Menus ↗</span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Vormgeving </span>
    </a>
  </li>
  <li class="sub-header">
    <span>IDEEEN</span>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Overzicht </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Reacties </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Nieuwe </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Instellingen </span>
    </a>
  </li>
  <li class="sub-header">
    <span>Artikelen</span>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Overzicht </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Reacties </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Nieuwe </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Instellingen </span>
    </a>
  </li>
  <li class="sub-header">
    <span>Formulieren</span>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Overzicht </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Nieuwe </span>
    </a>
  </li>
  <li class="sub-header">
    <span>E-Mail</span>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Mailing </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Log </span>
    </a>
  </li>
  <li class="">
    <a href="#" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Instellingen </span>
    </a>
  </li>

  <li class="sub-header">
    <span>OVERIG</span>
  </li>
  <li class="">
    <a href="#">
      <div class="icon-w">
        <div class="os-icon os-icon-users"></div>
      </div>
      <span>Security & authenticatie</span>
    </a>
  </li>
  <li class="">
    <a href="#">
      <div class="icon-w">
        <div class="os-icon os-icon-users"></div>
      </div>
      <span>Gebruikers</span>
    </a>
  </li>

  <li class="">
    <a href="#">
      <div class="icon-w">
        <div class="os-icon os-icon-ui-46"></div>
      </div>
      <span>Configureer</span>
    </a>
  </li>

  <li class="">
    <a href="#">
      <div class="icon-w">
        <i class="os-icon os-icon-bar-chart-stats-up"></i>
      </div>
      <span>Statistieken</span>
    </a>
  </li>


</ul>
