<ul class="main-menu">
  <li class="sub-header">
    <span>SITE {{site.name}}</span>
  </li>
  <li class="">
    <a href="/admin/site/{{site.id}}">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Dashboard </span>
    </a>
  </li>
  <li class="">
    <a href="/admin/site/{{site.id}}/settings">
      <div class="icon-w">
        <div class="os-icon os-icon-ui-46"></div>
      </div>
      <span>Configureer</span>
    </a>
  </li>
  <li class="">
    <a href="https://{{site.stagingUrl}}" target="_blank">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Bewerken website ↗</span>
    </a>
  </li>
  <li class="">
    <a href="/admin/site/{{site.id}}/ideas">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Ideeen </span>
    </a>
  </li>
  <li class="">
    <a href="/admin/site/{{site.id}}/submissions">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Inzendingen </span>
    </a>
  </li>
  <li class="">
    <a href="/admin/site/{{site.id}}/arguments">
      <div class="icon-w">
        <div class="os-icon os-icon-layers"></div>
      </div>
      <span>Argumenten </span>
    </a>
  </li>
  <li class="">
    <a href="/admin/site/{{site.id}}/security">
      <div class="icon-w">
        <div class="os-icon os-icon-users"></div>
      </div>
      <span>Beveiliging & authenticatie</span>
    </a>
  </li>
  <li class="">
    <a href="/admin/site/{{site.id}}/users">
      <div class="icon-w">
        <div class="os-icon os-icon-users"></div>
      </div>
      <span>Gebruikers</span>
    </a>
  </li>
</ul>
