<div class="form-group">
  <label for="domain">Domeinnaam: </label>
  <div class="form-check">
    <input type="radio" class="form-check-input domain-type" id="subdomain-type" name="domain-type" required value="subdomain" checked />
    <label for="subdomain-type" class="form-check-label" >Sub domain</label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input domain-type" id="domain-type" name="domain-type" required value="domain"/>
    <label for="domain-type" class="form-check-label">Full domain</label>
  </div>


  <div class="form-row">
    <div class="col-auto" style="width: 100px">
      {% if allowHttpUrls %}
      <select
        class="form-control"
        name="protocol"
        required
      >
        <option selected value="https://">https://</option>
        <option value="http://"> http:// </option>
      </select>
      {% else %}
      <input
        class="form-control"
        type="text"
        value="https://"
        name="protocol"
        disabled
      />
      {% endif %}
    </div>
    <div class="col col-domain">
      <input
        class="form-control valid-domain-character"
        id="domain"
        type="text"
        value=""
        name="domain"
        data-existing-domains="{{existingDomains}}"
        required
      />
    </div>
    <div class="col col-auto wildcardHost">
      <input
        class="form-control valid-domain-character"
        id="wildcardHost"
        type="text"
        value=".{{wildcardHost}}"
        name="wildcardHost"
        required
        readonly
      />
    </div>
  </div>
</div>
