{% set fullWidthLayout = true %}

{% extends 'user-layout.html' %}

{% block body %}
<div class="card-container">
  {% from 'partials/fields.html' import renderFields %}

<div class="row">
  <div class="col-sm-12">
    <h6 class="section-header">
      {{ __('Site settings') }}
    </h6>
  </div>
  <div class="col-sm-3">
    {% include 'site/settings/menu.html' %}
  </div>
  <div class="col-sm-9">
    <div class="card-container">
      <div class="card card-openstad">
        <form method="POST" action="/admin/site/{{site.id}}">
          {{ renderFields(ideaFields, site.config.ideas, 'config[ideas]') }}
          <div class="form-buttons-w">
            <button class="btn btn-outline-primary" type="submit">Opslaan</button>
          </div>
        </form>
      </div>
      <div class="card card-openstad">

        <form method="POST" action="/admin/site/{{site.id}}">
          <fieldset>
              <legend><span>{{ __('Thank you e-mail ') }}</span></legend>
              {{ renderFields(siteConfigSchema.feedbackEmail, site.config.ideas.feedbackEmail, 'config[feedbackEmail]') }}

              <button class="btn btn-secondary" data-target="#ideaThankYouModal" data-toggle="modal" type="button">More info on the E-mail Template</button>

              <div class="form-buttons-w">
              <button class="btn btn-outline-primary" type="submit">Opslaan</button>
              </div>
            </fieldset>
        </form>

        {% include 'site/settings/modal-thankyou-email.html' %}
      </div>

      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
