{% extends 'layout.html' %}

{% block sideMenu %}
{% include 'partials/overview-menu.html' %}
{% endblock %}

{% block quickLinks %}
<form action="/admin/set-ingress" method="POST">
<button class="btn btn-outline-primary btn-sm" >
    <i class="os-icon os-icon-window-content"></i>
    <span>Clean up all ingress</span>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</button>
</form>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-xxxl-9">
        <div class="element-wrapper">
            <h6 class="section-header">
                Overview Ingress
            </h6>
            {{ ingresses | dump }}
            <div class="card card-openstad">
                <table class="table">
                    <th>
                        <td>Name</td>
                        <td>Domains</td>
                        <td>Config annotations</td>
                        <td>Dump</td>
                    </th>
                    {% for ingress in ingresses %}
                    <tr>
                        <td>
                            {{ingress.metadata.name}}
                        </td>
                        <td>
                            {% for rule in ingress.spec.rules %}
                            {{rule.host}}
                            {% endfor %}
                        </td>
                        <td>
                            {{ingress.metadata.annotations | dump}}
                        </td>
                        <td>
                            <code>{{ingress | dump}} </code>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
