{% extends 'layout.html' %}

{% block sideMenu %}
{% include 'partials/overview-menu.html' %}
{% endblock %}

{% block quickLinks %}
<a class="btn btn-white btn-sm" data-toggle="modal" data-target="#onboardingWideSlideModal" href="#"><i class="os-icon os-icon-delivery-box-2"></i>
  <span>Maak nieuwe site aan</span>
</a>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-12">
    <div class="element-wrapper">
      <h6 class="element-header">
        Sites
      </h6>
      <div class="element-box">
        <div class="table-responsive">
          <table id="dataTable1" class="table table-lightborder">
            <thead>
              <tr>
                <!--   <th>
                  ID
                </th>!-->
                <th>
                  Site
                </th>
                <th>
                  Created at
                </th>
          <!--    <th>
                  Products
                </th> !-->
                <th class="text-center">

                </th>

                <th class="text-right">

                </th>
              </tr>
            </thead>
            <tbody>
              {% for site in sites %}
              {% if site.config.cms.dbName %}
              <tr>
            <!--    <td class="nowrap">
                  #{{site.id}}
                </td>!-->
                <td >
                  {{site.title}}
                </td>
                <td >
                  {{site.createdAt | date}}
                </td>
                <td class="text-center">
                  {% if site.config.ideas.canAddNewIdeas %}
                  <div class="badge badge-pill badge-success" style="background: #0a76ff; width: 180px;" data-title="CMS" data-toggle="tooltip">
                    Submitting Ideas open
                  </div>
                  {% else %}
                  <div class="badge badge-pill badge-success" style="background: #c7c7c7; width: 180px;" data-title="CMS" data-toggle="tooltip">
                    Submitting Ideas closed
                  </div>
                  {% endif %}

                  {% if site.config.votes.isActive %}
                  <div class="badge badge-pill badge-success" style="background: #5bd6c0; width: 180px;" data-title="CMS" data-toggle="tooltip">
                    Voting active: {{site.config.votes.voteType}}
                  </div>
                  {% else  %}
                  <div class="badge badge-pill badge-success" style="background: #c7c7c7; width: 180px; " data-title="CMS" data-toggle="tooltip">
                    Voting inactive
                  </div>
                  {% endif %}
                  </td>
                <td class="text-right">
                  {% if site.config.cms.dbName %}
                  <a class="btn btn-white btn-sm" href="/admin/site/{{site.id}}">
                    <span>beheer</span>
                  </a>
                  {% endif %}
                </td>

              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
