{% extends 'layout.html' %}

{% block sideMenu %}
{% include 'partials/overview-menu.html' %}
{% endblock %}

{% block quickLinks %}
<a class="btn btn-outline-primary btn-sm" href="/admin/site-new"><i class="os-icon os-icon-delivery-box-2"></i>
  <span>Maak nieuwe site aan</span>
</a>
<a class="btn btn-outline-primary btn-sm" data-target="#onboardingWideSlideModal2" href="/admin/site-copy"><i class="os-icon os-icon-delivery-box-2"></i>
  <span>Kopieer site</span>
</a>
<a class="btn btn-outline-primary btn-sm" data-target="#onboardingWideSlideModal2" href="/admin/site-import"><i class="os-icon os-icon-delivery-box-2"></i>
  <span>Importeer site</span>
</a>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-12">
    <div class="element-wrapper">
      <h3 class="section-header">
        Sites
      </h3>
      <div class="card card-openstad">
        <div class="table-responsive">
          <table id="dataTable1" class="table table-lightborder">
            <thead>
              <tr>
                <!--   <th>
                  ID
                </th>!-->
                <th>
                  Site
                </th>
                <th>
                  Domain
                </th>
                <th>
                  Created at
                </th>
          <!--    <th>
                  Products
                </th> !-->
                <th class="text-center">

                </th>

                <th class="text-right">

                </th>
              </tr>
            </thead>
            <tbody>
              {% for site in sites %}
              {% if site.config.cms.dbName %}
              <tr>
            <!--    <td class="nowrap">
                  #{{site.id}}
                </td>!-->
                <td>
                  {{site.title}}
                </td>
                <td >
                  <span style="
                    word-break: break-all;
                    min-width: 170px;
                    display: block;
                    font-size: 11px;
                    ">
                    {% if site.config.cms.url %}
                    <a href="{{site.config.cms.url}}" target="_blank">{{site.domain}}</a>
                    {% else %}
                    {{site.domain}}
                    {% endif %}
                  </span>
                </td>
                <td >
                  {{site.createdAt}}
                </td>
                <td class="text-center">
                  {% if site.config.ideas.canAddNewIdeas %}
                  <div class="badge badge-pill badge-success" style="background: #0a76ff; width: 180px;" data-title="CMS" data-toggle="tooltip">
                    Submitting Ideas open
                  </div>
                  {% else %}
                  <div class="badge badge-pill badge-success" style="background: #c7c7c7; width: 180px;" data-title="CMS" data-toggle="tooltip">
                    Submitting Ideas closed
                  </div>
                  {% endif %}

                  {% if site.config.votes.isActive %}
                  <div class="badge badge-pill badge-success" style="background: #5bd6c0; width: 180px;" data-title="CMS" data-toggle="tooltip">
                    Voting active: {{site.config.votes.voteType}}
                  </div>
                  {% else  %}
                  <div class="badge badge-pill badge-success" style="background: #c7c7c7; width: 180px; " data-title="CMS" data-toggle="tooltip">
                    Voting inactive
                  </div>
                  {% endif %}

                  {% if site.config.basicAuth.active %}
                  <div class="badge badge-pill badge-success" style="background: #ffa940; width: 180px; " data-title="CMS" data-toggle="tooltip">
                    Password Protected
                  </div>
                  {% else %}
                  <div class="badge badge-pill badge-success" style="background: #5bd7c0; width: 180px; " data-title="CMS" data-toggle="tooltip">
                    Public
                  </div>
                  {% endif %}


                  </td>
                <td class="text-right">
                  {% if site.config.cms.dbName %}
                  <a class="btn btn-light " href="/admin/site/{{site.id}}">
                    <span>beheer</span>
                  </a>
                  <br />
                  <a class="btn btn-link btn-sm" href="/admin/site/{{site.id}}/beta">
                    <small><span>beheer (beta)</span></small>
                  </a>
                  {% endif %}
                </td>

              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
