{% extends 'layout.html' %}

{% block sideMenu %}
{% include 'partials/overview-menu.html' %}
{% endblock %}

{% block quickLinks %}
<a class="btn btn-white btn-sm" data-toggle="modal" data-target="#onboardingWideSlideModal" href="#"><i class="os-icon os-icon-delivery-box-2"></i>
  <span>Maak nieuwe site aan</span>
</a>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-12">
    <div class="element-wrapper">
      <h6 class="element-header">
        Sites
      </h6>
      <div class="element-box">
        <div class="table-responsive">
          <table id="dataTable1" class="table table-lightborder">
            <thead>
              <tr>
                <th>
                  Sites
                </th>
          <!--    <th>
                  Products
                </th> !-->
                <th class="text-center">

                </th>
                <th class="text-right">

                </th>
              </tr>
            </thead>
            <tbody>
              {% for site in sites %}
              <tr>
                <td class="nowrap">
                  {{site.title}}
                </td>
                <td class="text-center">
                  {% if site.config.cms.dbName %}
                  <div class="badge badge-pill badge-success" data-title="CMS" data-toggle="tooltip">
                    CMS
                  </div>
                  {% endif %}
                </td>
                <td class="text-right">
                  {% if site.config.cms.dbName %}
                  <a class="btn btn-white btn-sm" href="/admin/site/{{site.id}}">
                    <span>beheer</span>
                  </a>
                  {% endif %}
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
