{% import 'partials/openstad-map.html' as openStadMap %}

<form method="POST"
  {% if idea %}
  action="/admin/site/{{site.id}}/idea/{{idea.id}}"
  {% else %}
  action="/admin/site/{{site.id}}/idea"
  {% endif %}
>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
       Titel
    </label>
    <div class="col-sm-8">
      <input type="text" name="title" value="{{idea.title}}" class="form-control" required minlength="{{site.config.ideas.titleMinLength}}" maxlength="{{site.config.ideas.titleMaxLength}}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
       Samenvatting
    </label>
    <div class="col-sm-8">
      <textarea name="summary" class="form-control" required minlength="{{site.config.ideas.summaryMinLength}}" maxlength="{{site.config.ideas.summaryMaxLength}}">{{idea.summary}}</textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
      Beschrijving
    </label>
    <div class="col-sm-8">
      <textarea name="description" class="form-control" required minlength="{{site.config.ideas.descriptionMinLength}}" maxlength="{{site.config.ideas.descriptionMaxLength}}">{{idea.description}}</textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
      Gebied
    </label>
    <div class="col-sm-8">
      <select id="gebied" name="area" value="{% if idea.extraData %}{{idea.extraData.gebied}}{% endif %}" class="form-control">
        <option value="">Kies gebied</option>
        {% for area in site.config.categories.areas %}
        <option value="{{area}}" {% if (idea.extraData) and (idea.extraData.area == area) %}selected{% endif %}>{{area}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
      Thema
    </label>
    <div class="col-sm-8">
      <select id="thema" name="theme" class="form-control">
        <option value="">Kies thema</option>
        {% for theme in site.config.categories.themes %}
        <option value="{{theme}}" {% if (idea.extraData) and (idea.extraData.theme == theme) %}selected{% endif %}>{{theme}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
      Ranking
    </label>
    <div class="col-sm-8">
      <input type="text" name="ranking" value="{{idea.extraData.ranking}}" class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
      Original idea ID
    </label>
    <div class="col-sm-8">
      <input type="text" name="originalId" value="{{idea.extraData.originalId}}" class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
      Advice
    </label>
    <div class="col-sm-8">
      <input type="text" name="advice" value="{{idea.extraData.advice}}" class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-4" for="">
      Budget
    </label>
    <div class="col-sm-8">
      <input type="number" name="budget" value="{{idea.extraData.budget}}" class="form-control" />
    </div>
  </div>

  <fieldset>
    <legend><span>Locatie</span></legend>
    <div class="form-group row">
  <!--    <label class="col-form-label col-sm-4" for="">
        Locatie
      </label> -->
      <div class="col-sm-12">
        <div id="location">
          <input type="hidden" id="locationField" name="location" value='{{idea.location | dump | safe}}'>
          <div id="mapcontainer">
            {{openStadMap.map(googleMapsKey, [], editorInputElementId = 'locationField')}}
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  {% if idea.posterImage %}
    <input type="hidden" name="images[]" value="{{idea.posterImage.key}}">
  {% endif %}

  <div class="form-buttons-w">
    <button class="btn btn-primary" type="submit">Opslaan</button>
  </div>
</form>
