{% extends 'user-layout.html' %}
{% import 'partials/openstad-map.html' as openStadMap %}

{% block quickLinks %}
<a class="btn btn-white btn-sm" href="#">
  <i class="os-icon os-icon-window-content"></i>
  <span>Maak een idee aan</span>
</a>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-xxxl-9">
    <div class="element-wrapper">
      <h6 class="element-header">
        {% if idea %}
          Bewerk plan
        {% else %}
          Maak nieuw plan
        {% endif %}
      </h6>
      <div class="element-box">
        <form method="POST" action="/site/{{site.id}}">
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="">
               Titel
            </label>
            <div class="col-sm-8">
              <input type="text" name="title" value="{{idea.title}}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="">
               Samenvatting
            </label>
            <div class="col-sm-8">
              Vertel iets meer over het plan.<br>
              <textarea name="summary">{{idea.summary}}</textarea>
              <div id="charsLeft">Je hebt nog <span>{{summaryMaxLength}}</span> tekens over.</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="">
              Beschrijving
            </label>
            <div class="col-sm-8">
              <textarea name="description">{{idea.description}}</textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="">
              Gebied
            </label>
            <div class="col-sm-8">
              <div class="form-info">Selecteer het gebied waarop jouw plan betrekking heeft. Gaat het niet over een specifiek gebied? Kies dan voor West Algemeen.</div>
              <select id="gebied" value="{% if idea.extraData %}{{idea.extraData.gebied}}{% endif %}" class="form-control">
                <option value="">Kies gebied</option>
                <option value="Bos en Lommer" {% if (idea.extraData) and (idea.extraData.gebied == "Bos en Lommer") %}selected{% endif %}>Bos en Lommer</option>
                <option value="De Baarsjes" {% if (idea.extraData) and (idea.extraData.gebied == "De Baarsjes") %}selected{% endif %}>De Baarsjes</option>
                <option value="Oud-West" {% if (idea.extraData) and (idea.extraData.gebied == "Oud-West") %}selected{% endif %}>Oud-West</option>
                <option value="Westerpark" {% if (idea.extraData) and (idea.extraData.gebied == "Westerpark") %}selected{% endif %}>Westerpark</option>
                <option value="West Algemeen" {% if (idea.extraData) and (idea.extraData.gebied == "West Algemeen") %}selected{% endif %}>West Algemeen</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="">
              Thema
            </label>
            <div class="col-sm-8">
              <div class="form-info">Selecteer het gebied waarop jouw plan betrekking heeft. Gaat het niet over een specifiek gebied? Kies dan voor West Algemeen.</div>
              <select id="thema" value="{% if idea.extraData %}{{idea.extraData.thema}}{% endif %}">
                <option value="">Kies thema</option>
                <option value="Groen" {% if (idea.extraData) and (idea.extraData.thema == "Groen") %}selected{% endif %}>Groen en Openbare ruimte</option>
                <option value="Diversiteit & Inclusiviteit" {% if (idea.extraData) and (idea.extraData.thema == "Diversiteit & Inclusiviteit") %}selected{% endif %}>Diversiteit en Inclusiviteit</option>
                <option value="Duurzaam" {% if (idea.extraData) and (idea.extraData.thema == "Duurzaam") %}selected{% endif %}>Duurzaam</option>
              </select>
            </div>
          </div>

          <fieldset>
            <legend><span>Locatie</span></legend>
            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="">
                Locatie
              </label>
              <div class="col-sm-8">
                <div id="location">
                  <input type="hidden" id="locationField" name="location" value='{{idea.location | dump | safe}}'>
                  <div id="mapcontainer">
                    {{openStadMap.map(googleMapsKey, [], editorInputElementId = 'locationField')}}
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          {% if idea.posterImage %}
            <input type="hidden" name="images[]" value="{{idea.posterImage.key}}">
          {% endif %}

          <div class="form-buttons-w">
            <button class="btn btn-primary" type="submit">Opslaan</button>
          </div>
        </form>
      </div>
      <div class="element-box">
        <form method="POST" action="/site/{{site.id}}/idea/{{idea.id}}/delete">
            <button class="btn btn-danger" type="submit">Verwijder</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
