<div class="row form-field-row form-group">
    <label class="col-form-label col-sm-4" for=""> Streetname </label>
  <div class="col-sm-8">
    <input type="text" name="streetName" value="{{editUser.streetName}}"  class="form-input form-control"  />
  </div>
</div>
<div class="row form-field-row form-group">
    <label class="col-form-label col-sm-4" for=""> House nr. </label> <br/>
    <div class="col-sm-8">
      <input type="text" name="houseNumber" value="{{editUser.houseNumber}}" class="form-input form-control"  />
    </div>
</div>
<div class="row form-field-row form-group">
    <label class="col-form-label col-sm-4" for=""> House nr. Postfix </label> <br/>
    <div class="col-sm-8">
      <input type="text" name="suffix" value="{{editUser.suffix}}" class="form-input form-control"  />
    </div>
</div>


<div class="row form-field-row form-group">
    <label class="col-form-label col-sm-4" for=""> Postcode </label> <br/>
    <div class="col-sm-8">
      <input type="text" name="postcode" value="{{editUser.postcode}}" class="form-input form-control"  />
    </div>
</div>

<div class="row form-field-row form-group">
  <label class="col-form-label col-sm-4" for=""> City </label> <br/>
    <div class="col-sm-8">
      <input type="text" name="city" value="{{editUser.city}}" class="form-input form-control"  />
    </div>
</div>

<div class="row form-field-row form-group">
  <label class="col-form-label col-sm-4" for=""> Phone number </label> <br/>
    <div class="col-sm-8">
      <input type="text" name="phoneNumber" id="phone" class="form-input form-control" value="{{editUser.phoneNumber}}" />
    </div>
</div>
